label { 
    color: #000; 
} 
#reclamation2 { 
padding: 30px ; 
background-color: #ffff 
}
#reclamation {
padding: 300px 0px ;
 
} 
#inscription { 
 padding: 100px 0px  ; 
 
 background-repeat: no-repeat; 
 background-size: contain, cover; 
 position: absolute; 
 background-position: center; 
 text-align: center; 
 top: 160px; 
 right: 6%; 
 z-index:1000; 
} 
#form { 
 padding: 80px 0px ;
 background: url(../images/big-bg.png);
 background-repeat: no-repeat;
 background-size: contain, cover;
 position: absolute;
 background-position: center;
 text-align: center;
 top: 200px; 
 right: 200px; 
}
#form2 {
 padding: 150px 0px ;
 background: url(../images/big-bg.png);
 background-repeat: no-repeat;
 background-size: contain, cover;
 position: absolute;
 background-position: center;
 text-align: center;
 top: 300px; 
 right: 200px; 
}

#login {
padding: 100px 0px ;
background: url(../images/smel-bg.png);
background-repeat: no-repeat;
background-size: contain, cover;
position: absolute;
background-position: center;
text-align: center;
top: 680px; 
right:  890px;
}
.form-group
{ padding:7px;}
#form-1 .form-group
{
margin: auto;
width: 35%;
}
#form-2 .form-group
{
margin: auto;
width: 30%;
}
/*
#bg1{
	padding: 80px 0px;
    background: url(../images/smel-bg.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: absolute;
    background-position: center;
    text-align: center;
    top: 25px;
    right: 900px;
}
#bg2{
	padding: 60px 0px;
    background: url(../images/icon-bg.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: absolute;
    background-position: center;
    text-align: center;
    top: 180px;
    right: 860px;
}
*/
.invisible2{
	display: none; 
}
.visible{
	display: block;
}
 .invisible{
  display: none; 
}
#reclamation3{
padding: 50px ;
background-color: #ffff
}



.btn-group { padding:20px;}


.admin{background-color: #dcd6d6; margin: 10px;padding: 10px;}

.user{background-color: #fff; margin: 10px;padding: 10px;}

.borderar{ 

	border-radius: 25px 0px 25px 25px;

	webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

	}

.borderfr{border-radius: 0px 25px 25px 25px;} 
/********Ajout Hakim****************/



.alert { z-index:10000;}

.bodyhistory {

  display: flex;
  align-items: center;
    margin: 0;
  padding: 3vh 0px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;}
  * {
    box-sizing: border-box;
  }


.timeline {
  width:100%;
 
  background:#fff;
  padding: 100px 50px;
  position: relative;
  box-shadow:0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2)}
 .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #E5EFEE;
  }
 .timeline:after {
    content: "";
    display: table;
    clear: both;
   
}

.entry {
  clear: both;
  text-align: left;
  position: relative;}
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;}
	
    .title:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 4px solid #02905B;
      background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -10px;
      z-index: 99;
    }
	
	.prive:before {
     
    border: 4px solid #e4661d;
     
	}
	
	.support:before{
     
    border: 4px solid #E5EFEE;
      border-radius:20%;
	}
	
    .h3history {
      margin: 0;
      font-size: 120%;
    }
	
	.sup { text-decoration:underline;}
    .phistory {
      margin: 0;
      font-size: 100%;
       line-height: 1.4em;
       text-decoration: none; 
       color: #333; 
    }
     .phistory:first-child {
        margin-top: 0;
        font-weight: 400;
      }
  
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;}
  
     
    
    .ulhistory {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      font-size:80%; }
      .lihistory:before {
        content: "–";
        margin-right: .5em;
      }
    
.formticket{ background-color: #fff; 
padding: 20px; 
box-shadow:0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2); 

 }
 .bodyticket{
  box-shadow:0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2); 

 }
 
 #divreplies {  height: 10px;  margin-top: 30px;}
 .form-control-pass {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.control-pass { width:90%;}
.form-control-pass i { font-size:20px; float:left;}
/********Ajout Hakim mbile****************/


@media screen and (max-width: 640px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 360px) {}
